<a href="https://colab.research.google.com/github/Tanvi-diwakar/data-science/blob/main/day_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DATASET - TRY to build ourselves. BUT WHY?

In [25]:
weather_data = np.array([
    [12,15,18,21,25,28,29,29,26,22,18,16],   #city 1
    [16,13,16,22,26,29,27,19,28,27,22,10],   #city 2
    [11,17,19,27,27,24,18,22,17,27,16,14],   #city 3
    [15,11,10,24,29,25,39,24,28,28,28,17],   #city 4
    [19,12,13,27,22,26,23,28,29,25,19,13]    #city 5
])

In [26]:
print("the shape of the dataset is ", weather_data.shape)

the shape of the dataset is  (5, 12)

MEAN, MEDIAN AND MODE

In [27]:
mean_weather_data = np.mean(weather_data, axis=1)   #Average across months -- row-wise
print("the mean temperature of the dataset is ", mean_weather_data)

the mean temperature of the dataset is  [21.58333333 21.25       19.91666667 23.16666667 21.33333333]

In [28]:
# trying to find hottest and coldest city
hottest_month = np.argmax(weather_data, axis=1)
print("the hottest month per city: ", hottest_month)
coldest_month = np.argmin(weather_data, axis=1)
print("the coldest month per city: ", coldest_month)

the hottest month per city:  [6 5 3 6 8]
the coldest month per city:  [ 0 11  0  2  1]

In [29]:
# to get direct temperature value
hottest_month_values = np.max(weather_data, axis=1)
print("the hottest month per city: ", hottest_month_values)
coldest_month_values = np.min(weather_data, axis=1)
print("the coldest month per city: ", coldest_month_values)

the hottest month per city:  [29 29 27 39 29]
the coldest month per city:  [12 10 11 10 12]

numpy VS pandas

1. data structure :: N dimensional arrays VS series and dataframes
2. data handeling :: numeric values VS mixed types
3. labelling support :: indexing: numbers VS string labels supported
4. way of operation :: fast for numbers VS better for data manipulation

Series: 1D LABELLED Array (list) DataFrame: 2D Tables

In [30]:
import pandas as pd

In [31]:
first_series = pd.Series([10,20,30], index = ['a','b','c'])

the label/index mentioned at the starting can be seen before the item

---

In [32]:
first_series

a    10
b    20
c    30
dtype: int64

In [33]:
first_series = pd.Series([10,20,30], index = ['a','b','c'])