<a href="https://colab.research.google.com/github/Tanvi-diwakar/data-science/blob/main/Day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Day 3

In [2]:
#lists and dictionaries \

# mutable and unmutable
# mutable (THAT CAN BE CHANGED) #unmutable (THAT CANNOT BE CHANGED OR MODIFIED)

#index counting works here

list_of_numbers = [1,2,"tanvi",4.5,6.2]
#print(list_of_numbers)

list_of_numbers.append("rohit")
#print(list_of_numbers)

list_of_numbers[3] = "sharukh"
#print (list_of_numbers)

list_of_numbers.insert(1,"hello")
#print (list_of_numbers)

print(list_of_numbers.index(6.2))

5

In [3]:

#creating a TUPLE - TUPLE IS IMMUTABLE
numbers = (9,8,7)
print(numbers)

numbers[4] = 6
print(numbers)

#error because tuples is immutable

(9, 8, 7)

TypeError: 'tuple' object does not support item assignment

In [4]:
# key- value pairs
# you can modify after creating (mutable)

car_details = {
    "brand" : "tata",
    "model" : "harrier",
    "color" : "white",
    "year_of_manufacture" : 2022
}
car_details["milage"] = 18

print(car_details)

#print(car_details)

#print(car_details['year_of_manufacture'])

for item, key in car_details.items():
  print(f"{item} : {key}")

{'brand': 'tata', 'model': 'harrier', 'color': 'white', 'year_of_manufacture': 2022, 'milage': 18}
brand : tata
model : harrier
color : white
year_of_manufacture : 2022
milage : 18

In [5]:
software_companies = ["google", "meta", "netflix", "amazon"]

for company in software_companies:
  print(company)

google
meta
netflix
amazon

In [6]:
for x in range (10, 20) :
  print(x)

10
11
12
13
14
15
16
17
18
19

In [7]:
file_name = "example.txt"
data_to_push = ["example sentence to print in a file", "this is the second line"]

try:
  with open(file_name, 'w') as file:
    file.writelines(line + "\n" for line in data_to_push)
  print("data is written in the file")
except IOError as e:
  print(e)

data is written in the file